@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  .call-to-action {
    background-color: #f9f9f9;
  }

  .call-to-action:disabled {
    border-color: transparent;
    cursor: default;
  }

  .won {
    color: teal;
  }

  .lost {
    color: tomato;
  }

  .open {
    color: rebeccapurple;
  }
}
