/* Trade */

.grid-2 {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 0.25fr;
  justify-content: space-between;
}

.grid-2 > div:nth-child(2) {
  justify-self: flex-end;
}

.header-table {
  font-weight: 800;
}

.sold {
  opacity: 0.7;
}

.won {
  color: cyan;
}

.lost {
  color: hotpink;
}

.open {
  color: powderblue;
}
